<table>

  <% for (var i = 0; i < quizes.length; i++) {%>
    <tr>
    <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta%></a></td>
		<td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
    <td>
			<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
				<input type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');" value="Borrar" />
			</form>
		</td>
    </tr>
    <br>
  <% } %>
</table>
<a href="/quizes/new"><h5>Ingresar una nueva pregunta</a></h5>
Buscardor:
<form action="/quizes" method="get">
  <input type="text" name="search" value="Ingrese la busqueda">
  <input type="submit"  value="Enviar">
</form>
